<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Task list</title>
    <link rel="stylesheet" type="text/css" href="resources/styles/tasks.css" media="screen"/>
    <script src="resources/scripts/jquery-2.0.3.js"></script>
    <script src="resources/scripts/jquery-tmpl.js"></script>
    <script src="resources/scripts/jquery.validate.js"></script>
    <script src="resources/scripts/jquery-serialization.js"></script>
    <script src="resources/scripts/tasks-controller.js"></script>
    <script src="resources/scripts/date.js"></script>
</head>

<!--Very useful link about x-jquery-->
<!--https://footyntech.wordpress.com/2013/08/20/simple-javascript-templating-with-jquery-tmpl/-->
<body>
<header>
    <span>Task list</span>
</header>
<main id="taskPage">
    <section id="taskCreation" class="not">
        <form frm_task>
            <input type="hidden" name="id"/>
            <div>
                <label>Task</label>
                <input type="text" required="required" name="task" class="large"
                       placeholder="Breakfast at Tiffanys" maxlength="200"/>
            </div>

            <div>
                <label>Required by</label>
                <input type="date" required="required" name="requiredBy"/>
            </div>

            <div>
                <label>Category</label>
                <select name="category">
                    <option value="Personal">Personal</option>
                    <option value="Work">Work</option>
                </select>
            </div>

            <div>
                <label>User ID:</label>
                <input type="text" name="userID" class="large" placeholder="User ID." required/>
            </div>

            <div>
                <label>Level of Priority:</label>
                <select ID="priorityID" name="priority">
                    <option value="1" data-order="high" selected>High "Urgent"</option>
                    <option value="2" data-order="medium">Medium "Normal"</option>
                    <option value="3" data-order="low">Low "trivial"</option>
                </select>
            </div>

            <nav>
                <a href="#" id="saveTask">Save task</a>
                <!-- https://stackoverflow.com/questions/4855168/what-is-href-and-why-is-it-used -->
                <a href="#" id="clearTask">Clear task</a>
            </nav>
        </form>
    </section>
    <section id="filterSection" class="taskNot">
        <nav>
            UserId: <input type="text" id="userIdFilter">
            <a href="#" id="btnFilterUserId">Filter by UserId</a>
            TeamId: <input type="text" id="teamIdFilter">
            <a href="#" id="btnFilterTeamId">Filter by TeamId</a>
        </nav>
    </section>
    <section>
    <div id="msg" class="not msg" > </div>
    
        <table id="tblTasks">
            <colgroup>
                <col width="5%">       <!--  user id-->
                <col width="25%">       <!--  Name-->
                <col width="15%">       <!--  Due-->
                <col width="10%">       <!--  Category-->
                <col width="15%">       <!--  Priority-->
                <col width="30%">       <!--  Actions-->
            </colgroup>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>
                        <div id="dueSort" class="inline2">
                            <div class="arrow-up"></div>
                            <div class="arrow-down"></div>
                        </div>
                        Due
                    </th>
                    <th>Category</th>
                    <th>
                        <div id="prioritySort" class="inline2">
                            <div class="arrow-up"></div>
                            <div class="arrow-down"></div>
                        </div>
                        Priority
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <nav>
            <a href="#" id="btnAddTask">Add task</a>
            <a href="#" id="btnRetrieveTasks">Retrieve tasks from server</a>
            <a href="#" id="btnManageTeam">Manage team</a>
            <a href="#" id="btntoServer">Save all tasks to server</a>
        </nav>
        <br>
        <hr size="1"/>
    </section>

    <!--SDIMPL-->
    <section id="teamCreation" class="not">
        <form id="frm_team">
            <input type="hidden" name="id"/>
            <div>
                <label>Team name: </label>
                <input type="text" required="required" name="teamname" id="teamName"
                       placeholder="Type yor team name" maxlength="200"/>
            </div>

            <nav>
                <a href="#" id="btnAddTeam">Save Team</a>
                <a href="#" id="btnRetrieveTeams">Retrieve teams from server</a>
            </nav>
        </form>
    </section>
    <section>
        <table id="tblTeams">
            <colgroup>
                <col width="10%">
                <col width="40%">
                <col width="20%">
                <col width="30%">
            </colgroup>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Team Name</th>
                    <th>Team Members Id</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>
    <!--SDIMPL-->
</main>
<footer>You have <span id="taskCount"></span> tasks</footer>
</body>
<script>
    function initScreen() {
        $(document).ready(function () {
            tasksController.init($('#taskPage'), function () {
                tasksController.loadTasks();
                tasksController.loadTeams();
            });
        });
    }

    if (window.indexedDB) {
        console.log("using indexedDB 111917kl");
        $.getScript("resources/scripts/tasks-indexeddb.js")
            .done(function (script, textStatus) {
                initScreen();
            })
            .fail(function (jqxhr, settings, exception) {
                console.log('Failed to load indexed db script');
            });
    } else if (window.localStorage) {
        console.log("using webstorage 111917kl");
        $.getScript("resources/scripts/tasks-webstorage.js")
            .done(function (script, textStatus) {
                initScreen();
            })
            .fail(function (jqxhr, settings, exception) {
                console.log('Failed to load web storage script');
            });
    }
</script>

<script id="taskRow" type="text/x-jQuery-tmpl">
<tr>
    <td {{if complete == true}}class="taskCompleted"{{/if}}>${userID}</td>
	<td {{if complete == true}}class="taskCompleted"{{/if}}>${task}</td>
	<td {{if complete == true}}class="taskCompleted"{{/if}}><time datetime="${requiredBy}">${requiredBy}</time></td>
	<td {{if complete == true}}class="taskCompleted"{{/if}}>${category}</td>
	<td {{if complete == true}}class="taskCompleted"{{/if}}>${order}</td>
	<td>
		<nav>
			{{if complete != true}}			
				<a href="#" class="editRow" data-task-id="${id}">Edit</a>
				<a href="#" class="completeRow" data-task-id="${id}">Complete</a>
			{{/if}}
			<a href="#" class="deleteRow" data-task-id="${id}">Delete</a>
		</nav>
	</td>
</tr>
</script>
<script id="teamRow" type="text/x-jQuery-tmpl">
<tr>
    <td>${id}</td>
    <td>${teamname}</td>
    <td></td>
	<td>
		<nav>
			<a href="#" class="editRow" data-task-id="${id}">Edit</a>
			<a href="#" class="deleteRow" data-task-id="${id}">Delete</a>
		</nav>
	</td>
</tr>
</script>
</html>

